@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { font-size: 50px; min-height: 100%; margin: 0; padding: 0; }
body { height: 100%; }
#root { min-height: 100vh; }

:root {
  --color-purple: hsl(259, 100%, 65%);
  --color-light-red: hsl(0, 100%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smokey-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);
}

main { background-color: var(--color-off-white); }
